h1{
    text-align: center;
    margin-top: 10vh;
    font-size: 530%;
}
p{
    text-align: center;
    
}
.but{
    display: flex;
    justify-content: center;
    .button{
        margin-top: 5vh;
    }
}