* {
  margin: 0;
  padding: 0;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
}

.head .title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 5vh;
  text-align: center;
  color: #fff;
}

.head .subtitle {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #fff;
  text-align: center;
  size: 15%;
}

.about {
  text-align: center;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .container .field {
  width: 250px;
}

.about .container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  min-height: 50vh;
}

.about .container .box .columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .container .box .columns .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.about .container .box .columns .image .pic {
  border-radius: 85%;
  margin-bottom: 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 200px;
  width: 145px;
}

.about .container .box .columns .image .icone {
  color: white;
  margin-top: 10px;
}

.about .container .box .columns .image .icone i {
  height: 20px;
  width: 20px;
  margin: 10px;
}

.about .container .box .columns .info {
  color: #fff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about .container .box .columns h2 {
  color: white;
}

.about .container .box .columns ul {
  list-style: none;
  color: white;
  font-size: 30px;
}

#github {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 100vh;
  background-color: black;
}

#github .card {
  border-radius: 10%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 500px;
  width: 300px;
  margin: 10px;
}

#github a {
  font-size: small;
}

#github img {
  border-radius: 10%;
}

#say {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#say p {
  margin: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#say #btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  min-width: 80vw;
}

.container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: grey;
}

.container .field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: 10px;
}

.container .field .label {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .field .control {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container .field .control .input {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 20vw;
  margin: 5px;
}

.container .field .control .fas {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

label {
  color: white;
}

.choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20vw;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.choose .choix {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 5px;
  width: 20vw;
  height: 5vh;
}

.button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 5px;
  height: 60px;
  width: 80px;
}

.part {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #000;
  z-index: -1;
}

.foot {
  width: 100vw;
  height: 21vh;
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.foot footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.foot footer .techno {
  margin: 10px;
  font-size: 30px;
  text-align: center;
}

.foot footer .nav {
  text-align: center;
}

.foot footer .title {
  margin: 10px;
  text-align: center;
  color: white;
}

.foot footer .contenter {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: center;
}

.foot footer .contenter .follow a {
  margin: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.foot footer .contenter .follow a i {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  color: white;
}

@media screen and (min-width: 200px) and (max-width: 640px) {
  body {
    overflow-x: hidden;
  }
  .part {
    height: 100vh;
    clear: both;
  }
  .about {
    text-align: center;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about .container .field {
    width: 250px;
  }
  .about .container .box {
    background-color: black;
  }
  .about .container .box .columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about .container .box .columns .image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .about .container .box .columns .image .pic {
    border-radius: 85%;
    margin-bottom: 15px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    height: 200px;
    width: 145px;
  }
  .about .container .box .columns .image .icone {
    color: white;
    margin-top: 10px;
  }
  .about .container .box .columns .image .icone i {
    height: 20px;
    width: 20px;
    margin: 10px;
  }
  .about .container .box .columns .info {
    color: #fff;
    padding-bottom: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .about .container .box .columns h2 {
    color: white;
  }
  .about .container .box .columns ul {
    list-style: none;
    color: white;
    font-size: 30px;
  }
  #github {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    min-height: 100vh;
    background-color: black;
  }
  #github .card {
    border-radius: 10%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    height: 500px;
    width: 300px;
    margin: 10px;
  }
  #github a {
    font-size: small;
  }
  #github img {
    border-radius: 10%;
  }
  .block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    min-height: 100vh;
    max-width: 100vw;
  }
  .container {
    width: 250px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    background-color: grey;
  }
  .container .field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    width: 90vh;
    margin: 0;
  }
  .container .field .label {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .field .control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .container .field .control .input {
    max-width: 80vw;
    margin: 5px;
  }
  .container .field .control .fas {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  label {
    color: white;
  }
  .choose {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20vw;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 15px;
  }
  .foot {
    height: auto;
    padding: 5px;
  }
  .foot footer {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .foot footer .techno {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .foot footer .nav {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}
/*# sourceMappingURL=Style.css.map */